<div style="height: 300px;" class=" d-flex flex-column align-items-center justify-content-center w-100 border">
    <div class="d-flex align-items-center justify-content-between mb-2 w-90">
        <div class="about w-25">
            <h2><i class="fa-solid fa-truck fa-bounce me-2"></i>Daily Carts</h2>
            <p>Designed and built with all the love in the world by the Bootstrap team with the help of our contributors</p>
            <p>Code licensed MIT,docs CC By 3.0</p>
        </div>
        <div class="help">
            <h2>Help</h2>
            <div class="d-flex flex-column">
                <a routerLink="" style="text-decoration: none;">Home</a>
                <a routerLink="/wishlist" style="text-decoration: none;">WishList</a>
                <a routerLink="/cart" style="text-decoration: none;">Cart</a>
            </div>

        </div>
        <div class="adress">
            <h2> Registerd Adress</h2>
            <h5>Manhattan PO</h5>
            <h5>Near Center Square</h5>
            <h5>676320</h5>

        </div>
        <div class="contact">
            <h2>Contact Us</h2>
            <input class="rounded shadow" type="text" placeholder="Message"><i style="background-color: burlywood; border-radius: 10px;" class="fa-solid fa-arrow-right border p-2"></i>
            <div class="d-flex justify-content-between mt-3">
                <i class="fa-brands fa-instagram fa-shake"></i>
                <i class="fa-brands fa-facebook fa-shake"></i>
                <i class="fa-brands fa-twitter fa-shake"></i>
                <i class="fa-brands fa-whatsapp fa-shake"></i>
                <i class="fa-solid fa-phone fa-shake"></i>
            </div>
        </div>

    </div>
    <div>
        <h4>All Rights Reserver Daily Cart 2024</h4>
    </div>
</div>

