<div style="height: 100vh;" class="w-100 container d-flex justify-content-center align-items-center">
    <div class="row border w-75 shadow rounded">
        <div class="col col-lg-6">
            <img src="https://i.pinimg.com/564x/6b/1b/22/6b1b22573f9f3d4bba11a9fa5cb45652.jpg" alt="">
        </div>
        <div style="background-color: rgb(59, 138, 241);" class="col col-lg-6 d-flex align-items-center flex-column justify-content-center">
            <h3 style="font-family: Dancing Script, cursive;" class="text-light fw-bolder mb-2">Welcome User!!!</h3>
            <div class="form-floating mb-3">
                <input  type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn mt-5 btn-light">Login</button>
            <p class="mt-2">New user? Click here to <a routerLink="/register" class="text-light">Register</a></p>

        </div>
    </div>
</div>
